*{
    font-family: "Poppins", sans-serif;


}
.banner{
    background-image: url(/portfolio/image/th.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 180px;
}
.skills-padding{
    padding: 70px 0;
}